* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.color-blue {
  color: #4b208c;
}
.color-white {
  color: white;
}
.background-blue {
  background-color: #4b208c;
}
.flex {
  display: flex;
}

.button {
  color: white;
  text-decoration: none;
  background-color: #4b208c;
  border: 0px;
  padding: 15px 50px;
  border-radius: 35px;
  margin-top: 35px;
  font-size: 17px;
  cursor: pointer;
}

@media (max-width: 550px) {
  .button {
    padding: 12px 40px;
    border-radius: 35px;
    margin-top: 5px;
    font-size: 12px;
  }
}